<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhvanil.attendencecounter">
    <uses-permission android:name="android.permission.SET_ALARM"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivitiesClasses.attendenceManager"></activity>
        <activity android:name=".ActivitiesClasses.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivitiesClasses.EnterAttendence" />
        <activity android:name=".ActivitiesClasses.EnterSub" />
        <activity android:name=".ActivitiesClasses.EnterDays" />
    </application>

</manifest>